<!DOCTYPE html>
<html>
<body>
<form method="POST" action="/login">
<input name="username" />
<input name="password" type="password" />
<button type="submit">Login</button>
</form>
</body>
</html>

<!-- Password in plain text may be vulnerable -->
